<div class="link">
    <a class="btn btn-outline-primary col-6" [routerLink]="['/invoice']">Ver facturación</a>
</div>


<section class="animadted fadeIn fast home">
    <article>
        <h4>OBLIGATORIO</h4>

        <p>Desarrollar una aplicación que registre datos de facturación eléctrica, con las siguientes instrucciones: OBLIGATORIO</p>

        <ul>
            <li>Importar valores desde un fichero CSV, con columnas y datos ficticios, y almacenarlo en BBDD (NoSQL)</li>

            <li>Backend NodeJS: encargado de importar los datos y exponerlos en una API que permita hacer operaciones CRUD sobre los datos</li>

            <li>Frontend Angular / React / Vue.JS: encargado de consumir la API anterior y presentar los datos en una tabla, y realizar las operaciones CRUD desde la misma</li>

            <li>Frontend Angular / React / Vue.JS: encargado de consumir la API anterior y presentar los datos en una tabla, y realizar las operaciones CRUD desde la misma</li>

            <li>Subirla a GitHub</li>


            <li>Emplear npm para la paquetería, con los dos siguientes comandos:</li>

            <ul>
                <li>pm run start </li>
                <li>pm run test (si los tiene)</li>
                <li>Otros (opcionales)</li>
            </ul>

            <li>Incluir un archivo README.md en el repositorio con las instrucciones necesarias para ejecutar el proyecto.</li>
        </ul>

    </article>

    <article>
        <h4>OPCIONAL <small>(se valorará positivamente)</small></h4>
        <ul>
            <li>Emplear algún stack conocido MEAN, MERN, etc</li>
            <li>Maquetación a elegir, preferiblemente AntDesign o Bootstrap</li>
            <li>Mecanismos de generación y carga de datos, uso de alguna librería de representación gráfica.</li>
            <li>Tests unitarios.</li>
        </ul>
    </article>
</section>